$purple-light: #7660b9;
$purple-dark: #533c97;

$pink-light: #ffe4ff;
$pink-dark: #ffa4ff;

$chocolate: #4c3e31;

$font-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
  Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$font-display: 'Permanent Marker', cursive;
