.button {
  color: white;
  background-color: #7660b9;
  text-decoration: none;
  display: inline-block;
  padding: 1em;
  border-radius: 3px;
  border: none;
  -webkit-appearance: none;
  appearance: none;
  font: inherit;
  line-height: 1;
  transition: all 200ms;

  &:hover,
  &:focus {
    color: #4c3e31;
    background-color: #fbd0fb;
    transform: translate3d(-4px, -4px, 0);
    filter: drop-shadow(4px 4px #4c3e31);
  }
}
