.wrapper {
  max-width: 450px;
  margin: 0 auto;
}

.form {
  & > * + * {
    margin-top: 1em;
  }
}

.inputWrapper {
  & > * + * {
    margin-top: 0.5em;
  }
}

.label {
  display: block;
  font-weight: 700;

  & > span {
    font-size: 0.9em;
    font-weight: 400;
  }
}

.input {
  font: inherit;
  line-height: 1;
  width: 100%;
  padding: 0.25em 0.25em;
}
