@use 'variables' as vars;

.list {
  display: grid;
  gap: 3vw;
  list-style-type: none;

  @media screen and (min-width: 460px) {
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  }
}

.item {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  margin: -0.5rem;

  & > * {
    margin: 0.5rem;
  }
}

.itemInfo {
  display: flex;
  flex-direction: column;
  flex: 1 1 250px;

  & > * + * {
    margin-top: 1.5em;
  }

  @media screen and (min-width: 460px) {
    align-items: flex-start;
  }
}

.itemName {
  font-family: vars.$font-display;
  font-size: 2rem;
  line-height: 1.1;
  color: vars.$purple-dark;
}

.itemDesc {
  margin-bottom: auto;
}

.itemPrice {
  font-size: 1.5em;
  font-weight: 700;
  color: vars.$purple-dark;
}

.itemImage {
  order: -1;
  max-width: 400px;
  transform: scale(1.2);
}
