@use 'variables' as vars;

/* Simple reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  font-family: vars.$font-sans;
  line-height: 1.5;
  color: vars.$chocolate;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

p {
  max-width: 62ch;
}

.site-navigation {
  display: flex;
  list-style-type: none;
}

.show-on-focus {
  position: absolute;
  display: block;
  padding: 20px;
  background: vars.$purple-light;
  color: white;
  border-radius: 3px;
  z-index: 900;
}

.visually-hidden,
.show-on-focus:not(:focus) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
