@use 'variables' as vars;

.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header'
    'main'
    'footer';
}

.header {
  grid-area: header;
  padding: 0.75rem 2rem;
  border-bottom: 2px solid vars.$pink-dark;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

.main {
  grid-area: main;
  overflow: auto;
  padding: 0 2rem;
  width: 100%;
}

.mainInner {
  max-width: 1400px;
  margin: 4rem auto;

  & > * + * {
    margin-top: 1.5rem;
  }

  // Safari doesn't support scroll-margin-top at the moment
  // This prevents the main from scrolling and hiding the h1 behind the header
  &::before {
    display: block;
    content: ' ';
    margin-top: -285px;
    height: 285px;
    visibility: hidden;
    pointer-events: none;
  }
}

.footer {
  grid-area: footer;
  padding: 1.5rem 2rem;
  background-color: vars.$pink-light;
  position: sticky;
  bottom: 0;
  z-index: 1;
}

.siteNav {
  display: flex;
  margin: -1em;
  align-items: center;
  font-family: vars.$font-display;
  font-size: 1.5rem;

  & > * {
    margin: 1em;
  }
}

.siteNavLink {
  text-decoration: none;
  color: vars.$purple-dark;

  &:hover {
    text-decoration: underline;
  }
}

.homeLink {
  margin-right: auto;
  max-width: 150px;
}
