@use 'variables' as vars;

.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr minmax(0, 1400px) 1fr;
  grid-template-areas:
    'header header header'
    '. main .'
    'footer footer footer';
  grid-gap: 3rem 1.5rem;
}

.header {
  grid-area: header;
  padding: 1.5rem 2rem;
}

.main {
  grid-area: main;
}

.mainInner {
  height: 100%;
  overflow-y: auto;
  & > * + * {
    margin-top: 1.5rem;
  }
}

.footer {
  grid-area: footer;
  padding: 1.5rem 2rem 4rem;
  background-color: vars.$pink-light;
  margin-top: 4rem;
}

.siteNav {
  display: flex;
  margin: -1em;
  align-items: center;
  border-bottom: 2px solid vars.$pink-dark;
  font-family: vars.$font-display;
  font-size: 1.5rem;

  & > * {
    margin: 1em;
  }
}

.siteNavLink {
  text-decoration: none;
  color: vars.$purple-dark;

  &:hover {
    text-decoration: underline;
  }
}

.homeLink {
  margin-right: auto;
  max-width: 150px;
}

.checkout {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}
